
.clearfix {
    display: block;
    clear: both;
}

h1 {
    text-align: center;
    font-size: 32px;
}

body {
    margin: 0px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.question {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.answer {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.answer li {
    background: #f1f1f1;
    margin: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.answer li:hover {
    background: #cecece;
    font-weight: bold;
}

.answer li:active{
    background: #8b8b8b
}

.result {
    padding: 30px 0;
    font-size: 18px;
    line-height: 150%;
}

.result-img {
    max-width: 600px;
    display: block;
    margin: 10px auto;
}

.reload-button {
    display: block;
    margin: 20px auto;
    background: #c0c0c0;
    border: none;
    border-radius: 6px;
    padding: 10px 25px;
    min-width: 200px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.reload-button:hover {
    background: #acacac;
}

.block-cover {

    padding: 10px;
    text-align: center;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 1s;
}

a .block-cover {
    text-decoration: none;
}

a .block-cover:hover {
    background: #e0e0e0;
}

.block-cover img{
    max-width: 100%;
}

.block-25 {
    float: left;
    width: 33.333%;
}

.block-25 a {
    text-decoration: none;
}

.footer-ul {
    padding: 40px;
}

footer {
    border-top: 1px solid #333;
    margin: 50px  0;
    /* padding-top: 40px; */
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}


footer h2 {
    font-size: 20px;
    margin: 30px 0 ;
}

#nav {
    padding: 30px;
    border: 1px solid black;
    margin: 50px auto;
    font-family: sans-serif;
    position: relative;
    transition: all ease 1s;
}

.nav-item {
    padding: 10px;
    font-size: 18px;
    transition: all ease 1s;
}

.goods-card {
    width: 22%;
    margin: 20px 1.5%;
    border: 1px solid #c0c0c0;
    float: left;
    padding: 20px;
}

.goods-card img {
    max-width: 90%;
    display: block;
    height: 125px;
    width: 130px;
    margin: 20px auto;
}

.goods-card h1 {
    font-size: 20px;
    height: 32px;
}

.goods-card p {
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    color: #7375a4;
}

.goods-card .buy {
    display: block;
    margin: 20px auto;
    background: #3d6886;
    border-radius: 4px;
    padding: 5px 10px;
    color: #fff;
    border: none;
    text-align: center;
}

.goods-card .buy a {
    display: block;
    color: #fff;
    text-decoration: none;
}

hr  {
    margin: 20px auto;
    display: block;
    clear: both;
}

.card-subtitle{
    margin-top: -0.375rem;
    margin-bottom: 0;
    color: #6c757d !important;
}
